<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2023 Phenix Real Time Solutions, Inc. Confidential and Proprietary. All rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.phenixrts.suite.channelviewer">

    <queries>
        <intent>
            <action android:name="android.intent.action.SEND_MULTIPLE" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ChannelViewerApplication"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".ui.SplashActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="phenixrts.com"
                    android:pathPrefix="/channel/"
                    android:scheme="https" />
                <data
                    android:host="stg.phenixrts.com"
                    android:pathPrefix="/channel/"
                    android:scheme="https" />
                <data
                    android:host="pcast.phenixrts.com"
                    android:pathPrefix="/channel/"
                    android:scheme="https" />
                <data
                    android:host="pcast-stg.phenixrts.com"
                    android:pathPrefix="/channel/"
                    android:scheme="https" />
                <data
                    android:host="pcast-stg-us-central.phenixrts.com"
                    android:pathPrefix="/channel/"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.MainActivity" android:launchMode="singleTop" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.phenixrts.suite.channelviewer.provider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>
